<div style="position: center;">
    <input class="auto-fit-input" value="@ViewBag.ViewName" disabled />
</div>
<div class="form-container">
    <div class="button-container">        
        <button class="custom-btn" onclick="AllVoicesReport()">تنفيذ</button>
        <button class="custom-btn" onclick="GoToReportsPage()">الرجوع إلي قائمة التقارير</button>
        <button class="custom-btn" onclick="GoToHomePage()">الرجوع إلي القائمة الرئيسية</button>
    </div>
</div>
<script src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    function GoToHomePage() {
        var url = '@Url.Action("Index", "Home")';
        // Redirect to the URL
        window.location.href = url;
    }
    function AllVoicesReport() {
        var url = '@Url.Action("AllVoicesReport", "Home")';
        // Redirect to the URL
        window.location.href = url;
    }
    function GoToReportsPage() {
        var url = '@Url.Action("Query", "Home")';
        window.location.href = url;
    }
</script>