<!DOCTYPE html>
@model IsoDetails
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="form-container">
        <h2>تم انهاء طلب الصرف بنجاح. يمكنك الانتقال إلى الصفحة الرئيسية او الرجوع لانهاء طلب صرف جديد.</h2>
    </div>
    <div class="button-container">
        <a href="/Home/Index" style="text-decoration: none; background-color: #4CAF50; color: #fff; padding: 10px 20px; border-radius: 5px; margin: 40px;">الصفحة الرئيسية</a>
        <a href="/Home/FinalizeExchange" style="text-decoration: none; background-color: #4CAF50; color: #fff; padding: 10px 20px; border-radius: 5px; margin: 40px;">انهاء طلب صرف جديد</a>
    </div>
</body>
</html>
