<div class="form-container">
    <div class="input-wrapper">
        <label>رقم الساب المؤقت</label>
        <input type="text" id="id" required>
    </div>
   
    <div class="input-wrapper">
        <label>الموظف المسئول</label>
        <input type="text" id="employee-name" required>
    </div>
</div>
<div class="button-container">
    <button class="custom-btn" onclick="GoToHomePage()">الرجوع إلي القائمة الرئيسية</button>
    <button class="custom-btn" onclick="RedirectToExecutePassToExchangeAction()">تنفيذ</button>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    function GoToHomePage() {
        var url = '@Url.Action("Index", "Home")';
        window.location.href = url;
    }

    function RedirectToExecutePassToExchangeAction() {
        var id = document.getElementById('id').value;
        var employeeName = document.getElementById('employee-name').value;

        var url = '@Url.Action("ExecutePassToExchange", "Home")' +
            '?id=' + encodeURIComponent(id) +
            '&employeeName=' + encodeURIComponent(employeeName);
        window.location.href = url;
    }
</script>