
<!DOCTYPE html>
<html class="html" lang="ar-EG" dir="rtl">
<head>
	<meta charset="UTF-8">	
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

<style>
	.pt-module-content.pt-link {
		display: block;
	}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Home - Follow Invoices</title>

	<link rel='stylesheet' id='wp-block-library-css' href='/css/styles.css' media='all' />

	
</head>

<body class="home page-template-default page page-id-62 wp-custom-logo wp-embed-responsive oceanwp-theme dropdown-mobile medium-header-style no-header-border default-breakpoint content-full-screen has-topbar page-with-background-title page-header-disabled has-fixed-footer e-lazyload elementor-default elementor-kit-3451 elementor-page elementor-page-62" itemscope="itemscope" itemtype="https://schema.org/WebPage">
	
	<div id="outer-wrap" class="site clr">



		<div id="wrap" class="clr">

			<header id="site-header">

	
		

<div>

	
		<div>
			<div>
				<div>

					
						<div>

							

<div id="site-logo">

	
	<div id="site-logo-inner">

		<a href="#" class="custom-logo-link" rel="home" aria-current="page"><img width="670" height="404" src="/Images/pms-logo.png" class="custom-logo" alt="PMS Follow Invoices" decoding="async" fetchpriority="high" sizes="(max-width: 670px) 100vw, 670px" /></a>
	</div><!-- #site-logo-inner -->

	
	
</div><!-- #site-logo -->
									@* <form class="form-static"> *@
<h2>الادارة العامة لتكنولوجيا المعلومات</h2>
									@* @if (User.Identity.IsAuthenticated)
									{
										<span>مرحباً، @User.Identity.Name!</span>
										<a asp-controller="Account" asp-action="Logout" class="login">تسجيل الخروج</a>
									}
									else
									{
										<a asp-controller="Account" asp-action="Login" class="login">تسجيل الدخول</a>
									}
									@* </form> *@ 
									
									@* <div id="topbar" dir="rtl">
									</div> *@
									<div style="font-size: medium; display: flex; align-items: end; background: lightgray/*#9cb4c1*/ /*#e0f2ff*/;">
										@if (User.Identity.IsAuthenticated)
										{
											<span style="padding-right:10px; font-weight: bold;">مرحباً، @User.Identity.Name!</span>
											<a asp-controller="Account" asp-action="Logout" class="login" style="padding-right:10px; font-weight: bold;">تسجيل الخروج</a>
											<a asp-controller="Account" asp-action="ChangePasswordView" class="login" style="padding-right:10px; font-weight: bold;">
												تغيير الرقم السري
											</a>
										}
										else
										{
											<a asp-controller="Account" asp-action="Login" class="login" style="padding-right:10px; font-weight: bold;">تسجيل الدخول</a>
										}
										@* </form> *@
									</div>
						</div>

						
				</div>
			</div>
		</div>

		

</div><!-- #site-header-inner -->
			
		
</header><!-- #site-header -->
			@RenderBody()<!-- #main -->

	
	
	
		
<footer id="footer">

	
	<div id="footer-inner">

		

<div id="footer-widgets">

	
	<div>

					<div class="footer-box span_1_of_4 col col-1">
							</div><!-- .footer-one-box -->

							<div class="footer-box span_1_of_4 col col-2">
									</div><!-- .footer-one-box -->
				
							<div class="footer-box span_1_of_4 col col-3 ">
									</div><!-- .footer-one-box -->
				
							<div class="footer-box span_1_of_4 col col-4">
									</div><!-- .footer-box -->
				
			
	</div><!-- .container -->

	
</div><!-- #footer-widgets -->



<div id="footer-bottom" class="clr no-footer-nav">

	
	<div id="footer-bottom-inner" class="container clr">

		
		
			<div id="copyright" class="clr" role="contentinfo">
				Copyright  2025 - Powered by Eng. Hossam Hassan</div><!-- #copyright -->

			
	</div><!-- #footer-bottom-inner -->

	
</div><!-- #footer-bottom -->


	</div><!-- #footer-inner -->

	
</footer><!-- #footer -->

	
	
</div><!-- #wrap -->


</div><!-- #outer-wrap -->
</body>
</html>
