<div class="form-container">
    <div class="input-wrapper">
        <label>الرقم السري الحالي</label>
        <input type="password" id="currentPassword" required>
    </div>
    <div class="input-wrapper">
        <label>الرقم السري الجديد</label>
        <input type="password" id="newPassword" required>
    </div>
    <div class="button-container">
        <button id="changePasswordBtn" class="custom-btn" onclick="handleChangePassword(event)">تغيير</button>
    </div>
</div>
<script src="/js/jquery-3.7.1.min.js"></script>

<script>
    function handleChangePassword(event) {
        event.preventDefault();
        console.log('point1')
        var currentPassword = $('#currentPassword').val();
        var newPassword = $('#newPassword').val();
        console.log('point2')
        if (!currentPassword || !newPassword) {
            alert("من فضلك أدخل الرقم السري الحالي والجديد.");
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/Account/ChangePassword',
            data: {
                currentPassword: currentPassword,
                newPassword: newPassword
            },
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                if (response.success) {
                    alert("تم تغيير الرقم السري بنجاح");
                    window.location.href = '/Account/Login';
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("حدث خطأ أثناء تغيير الرقم السري.");
            }
        });
    }
</script>